@model Variaveis

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo!</h1>

    <p>
        O valor de <b>UserCount</b> é: <i>@Model.userCount</i>
    </p>
    <p>
        O valor de <b>TotalCount</b> é: <i>@Model.totalCount</i>
    </p>
    <p>
        O valor de <b>minByte</b> é: <i>@Model.minByte</i>
    </p>
    <p>
        O valor de <b>maxByte</b> é: <i>@Model.maxByte</i>
    </p>
    <p>
        O valor de <b>minSbyte</b> é: <i>@Model.minSbyte</i>
    </p>
    <p>
        O valor de <b>maxSbyte</b> é: <i>@Model.maxSbyte</i>
    </p>
    <p>
        O valor de <b>minShort</b> é: <i>@Model.minShort</i>
    </p>
    <p>
        O valor de <b>maxShort</b> é: <i>@Model.maxShort</i>
    </p>
    <p>
        O valor de <b>minUshort</b> é: <i>@Model.minUshort</i>
    </p>
    <p>
        O valor de <b>maxUshort</b> é: <i>@Model.maxUshort</i>
    </p>
    <p>
        O valor de <b>minInt</b> é: <i>@Model.minInt</i>
    </p>
    <p>
        O valor de <b>maxInt</b> é: <i>@Model.maxInt</i>

    </p>
    <p>
        O valor de <b>minUint</b> é: <i>@Model.minUint</i>

    </p>
    <p>
        O valor de <b>maxUint</b> é: <i>@Model.maxUint</i>

    </p>
    <p>
        O valor de <b>minLong</b> é: <i>@Model.minLong</i>

    </p>
    <p>
        O valor de <b>maxLong</b> é: <i>@Model.maxLong</i>

    </p>
    <p>
        O valor de <b>minULong</b> é: <i>@Model.minULong</i>

    </p>
    <p>
        O valor de <b>maxUlong</b> é: <i>@Model.maxUlong</i>

    </p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
